@font-face {
    font-family: "MuseoSans300";
    src: url("/fonts/MuseoSans-300.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: "MuseoSans500";
    src: url("/fonts/MuseoSans-500.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: "MuseoSans700";
    src: url("/fonts/MuseoSans-700.ttf");
    font-weight: lighter;
}